
.courses__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.courses__title {
  padding: 2rem 0;
}
.courses__box--container {
  display: flex;
  gap: 2rem;
}

.courses__img {
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.curso__content--btn {
  background-color: #0bf;
  color: #fff;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem 2rem;
  &:hover {
    background-color: #0a98d4;
  }
}


@media only screen and (min-width: 320px) and (max-width:768px) {
  .courses__box--container {
    flex-wrap: wrap;
  }
}