.hero {
  background-image: url("../../assets/img/Background/banner.jpeg");
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: start;
}

.hero__info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  color: #fff;
  width: 50%;
}

.hero__btn button{
  border: none;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #2b2d2a;
  color: #fff;
  &:hover {
    background-color: #2b2d2a8c;
  }
}

.hero__text {
  font-size: 2.2rem;
  line-height: 2.2rem;
}
/* Phone */
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .hero__info {
    width: 100%;
  }
  .hero__title {
    font-size: 3rem;
    line-height: 1.2;
  }
  .hero__text {
    line-height: 1.2;
  }
  .hero__btn button {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .hero__info {
    width: 100%;
  }

  .hero__title {
    font-size: 4.5rem;
    line-height: 1.2;
  }

}