

.footer-col {
  width: 32%;
  padding: 0 1.5rem;
}

.footer-col h4 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 2rem;
  font-weight: 500;
  position: relative;
}

.footer-col p {
  color: #fff;
  font-weight: 300;
  color: #bbbbbb;
  line-height: 1.4;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #43e91e;
  height: 2px;
  box-sizing: border-box;
  width: 5.5rem;
}

.footer-col ul li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}


@media(max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  
  .footer-maps {
    max-width: 10rem;
    height: 30rem;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}