@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.p-copy, .creator {
  color: #bbb;
}

.creator a {
  color: #43e91e;
}


